$font-stack: Helvetica, sans-serif;

$text-color: black;

$button-color: #63330E;
$button-border-color: #283A22;
$button-background-color: #E4CB92;
$button-color-hover: #283A22;

$background: url(../images/Background-Mahjong1.jpg);

$wooden-panel:url(../images/nav-image.jpg);
