$font-stack: Helvetica, sans-serif;

$text-color: #2fb900;

$button-color: #206312;
$button-border-color: #2fb900;
$button-background-color: #e43b17;
$button-color-hover: #34233a;

$background: url(../images/Background-Mahjong2.jpg);

$wooden-panel:url(../images/nav-image2.jpg);
