.button-style-hover {
    transition: 0.5s ease-in-out;
    color:$button-color-hover;
    background: $button-background-color;
    @include shadow();
}

.group {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    position: relative;
    border-radius: 25px;
    cursor: hand;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-nav {
    background: $wooden-panel no-repeat center center fixed;
    opacity: 40;
    width: 100%;
    height: 70px;
    position: relative;

    .nav-container li{
        @extend .group;
        display: inline-block;
        font-weight: bold;
        list-style-type: none;
        width:100px;
        height: 40px;
        padding-right: 20px;
        position: relative;
    }

    .nav-container li > a{
        margin: 0 auto;
        color : #283A22;
    }
}

.group a {
        font-family: helvetica;
        font-size: 16px;
        line-height: 16px;
        transition: 0.5s ease-in-out;
        border: 1px solid $button-border-color;
        padding: 10px 20px;
        margin-left: 2px;
        color: $button-color;
    }

.group > a:hover{
    @extend .button-style-hover;
}


.container {
    width: 700px;
    margin:0 auto;
}

body {
     background: $background no-repeat center center fixed;
     @include covering-background-image;
}

a {
    text-decoration: none;
}


.message {
    margin-top: 20px;
    display: block;
    background-image: none;
    padding: 9px;
    margin: 0px 0px 10px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.error {
    @extend .message;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.success {
    @extend .message;
    background-color: #79f28a;
    border-color: #59ee83;
    color: darkgreen;
}


