.lobby {
    background: $wooden-panel no-repeat center center fixed;
    height: 400px;
    overflow:auto;
}

.game {
    margin: 20px 50px 50px 20px;
}

.game-container {
    width: 700px;
    margin-left: 70%;
}

.game ul > li::after {
    height: 3px;
    width: 100%;
    display: block;
    background: #e2001a;
    position: relative;
}