@import 'mixins/mixins';

.clickable-game { cursor: pointer; cursor: hand; }

.selected-tile{
    border: 5px solid blue;
}

.score-container {
    display: inline-block;
    width:200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.score-group {
    width: 50%;
    overflow-scrolling: auto;
    float:left;

    .score {
        display: inline-block;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Helvetic Neue", Helvetica, Arial;
    }
}

.selected-tile{
    border: 5px solid blue;
}

.hint {
    border: 1px solid red;
}

.tile {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 72px;
    height: 90px;
    @include shadow();
}

.player-list {
    width: 50%;
    float: right;

    .player {
        display: inline-block;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Helvetic Neue", Helvetica, Arial;
    }
}
