<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="game-container">
            <div id="messages">

            </div>
            <h3>Open games you can join</h3>
            <div class="lobby">
                <div class="game" ng-repeat="game in gamesCtrl.games | filter: {state: 'open'} | orderBy: createdOn">
                    <a ng-click="gamesCtrl.joinGame(game)" class="list-group-item active clickable-game">
                        <h4>Layout: {{game.gameTemplate._id}}   |  State: {{game.state}}</h4>
                    </a>
                    <ul class=".dropdown" ng-show="game.state != 'finished'">
                        <li class="openGame" ng-repeat="player in game.players track by $index">{{player.name}}</li>
                    </ul>
                    <div class="group">
                        <a class="button" ng-show="game.createdBy._id == '{{currentUser.name}} && game.players.length >= game.minPlayers'" ng-click="gamesCtrl.startGame(game)">Start game</a>
                    </div>
                </div>
            </div>

            <h3>Games you can watch</h3>
            <div class="lobby">
                <div class="game" ng-repeat="game in gamesCtrl.watchableGames">
                    <a ng-click="joinGame(game)" class="list-group-item active clickable-game">
                        <h4>Layout:  {{game.gameTemplate._id}}   |  State: {{game.state}}</h4>
                    </a>
                    <ul class=".dropdown" ng-show="game.state != 'finished'">
                        <li class="openGame" ng-repeat="player in game.players track by $index">{{player.name}}</li>
                    </ul>
                    <div class="group">
                        <a ng-click="gamesCtrl.watchGame(game)">Watch this game</a>
                    </div>
                </div>
                <hr>
            </div>

            <h3>Games you played</h3>
            <div ng-show="playedGames.length != 0" class="lobby">
                <div class="game" ng-repeat="game in gamesCtrl.playedGames | orderBy: createdOn">
                    <a class="list-group-item active clickable-game">
                        <h4>Layout:  {{game.gameTemplate._id}}  |  State: {{game.state}}</h4>
                    </a>
                    <ul class=".dropdown">
                        <li class="openGame" ng-repeat="player in game.players track by $index">{{player.name}}</li>
                    </ul>
                    <div class="group">
                        <a class="button" ng-show="game.state = 'playing'" ng-click="gamesCtrl.setCurrentGame(game)">Play!</a>
                    </div>
                </div>
            </div>
            <p ng-show="playedGames.length == 0">No finished games yet</p>

            <h3>My games</h3>
            <div ng-show="playedGames.length != 0" class="lobby">
                <div class="game" ng-repeat="game in gamesCtrl.myGames | orderBy: createdOn">
                    <a class="list-group-item active clickable-game">
                        <h4>Layout:  {{game.gameTemplate._id}}  |  State: {{game.state}}</h4>
                    </a>
                    <ul class=".dropdown">
                        <li class="openGame" ng-repeat="player in game.players track by $index">{{player.name}}</li>
                    </ul>
                    <div class="group">
                        <a class="button" ng-hide="game.state == 'playing' || game.state == 'finished'" ng-click="gamesCtrl.startGame(game)">Start game</a>
                        <a class="button" ng-show="game.state == 'playing'" ng-click="gamesCtrl.setCurrentGame(game)">Play!</a>
                        <a class="button" ng-show="game.state == 'finished'" ng-click="gamesCtrl.setCurrentGame(game)">Show history!</a>
                    </div>
                </div>
            </div>
            <p ng-show="playedGames.length == 0">No created games yet</p>
        </div>

        </div>
    </div>
</div>