@mixin shadow() {
    -webkit-box-shadow: -6px 9px 5px 0px rgba(50, 50, 50, 2);
    -moz-box-shadow:    -6px 9px 5px 0px rgba(50, 50, 50, 2);
    box-shadow:         -6px 9px 5px 0px rgba(50, 50, 50, 2);
}

@mixin covering-background-image() {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

