
#gameCanvas {
    border: 1px solid black;
    height: 700px;
    width: 500px;
}

.clickable-game { cursor: pointer; cursor: hand; }

#openGame {
    color: whitesmoke;
}

.selected-tile{
    border: 5px solid blue;
}

.score-container {
    display: inline-block;
    width:200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.score {
    overflow-scrolling: auto;
}

.hint {
    border: 5px solid red;
}

.tile {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 72px;
    height: 90px;
    -webkit-box-shadow: -6px 9px 5px 0px rgba(50, 50, 50, 2);
    -moz-box-shadow:    -6px 9px 5px 0px rgba(50, 50, 50, 2);
    box-shadow:         -6px 9px 5px 0px rgba(50, 50, 50, 2);
}

.lobby {
    width: auto;
    height: 400px;
    overflow-y: auto;
}
/* style.css */
/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:20px; }

/* form styling */
#game-container                {
    width:1200px;
    background:#2f2f2f;
    margin-top: 50px
    margin-bottom:20px;
    border-radius:5px;
color: #00BC8C}
#game-container .page-header   { background:#151515; margin:0; padding:30px;
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }


/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#game-views             { width:auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#game-views.ng-enter,
#game-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#game-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#game-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
